{% extends "base.html" %}
<html>
  <head>
    {% if title %}
    <title>{{ title }} - NivutQR</title>
    {% else %}
    <title>Welcome to NivutQR</title>
    {% endif %}
{% block css %}
    <link href="/static/css/footable.standalone.css" rel="stylesheet"/>
{% endblock %}
{% block js %}
    <script src="/static/js/footable.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('.table').footable();
        });
          $(document).ready(function() {
                $(document).ready(function() {
                    $('.send-button').on('click', save_onclick);
                 });
                function save_onclick(){
                    document.getElementById("messageForm").submit();
                };
            });
    </script>
{% endblock %}
  </head>
  <body>
{% block main %}
      <div class="container">

 <ol class="breadcrumb">
    <li><a href="{{ url_for('home') }}">My Events</a></li>
    <li class="active">Run Event</li>
  </ol>

    {% if errors|length > 0 %}
    <div class="alert alert-warning">
    <strong>Warning!</strong> {%- for error in errors -%}<li>{{ error }}</li>{% endfor %}</td>
  </div>
  {% endif %}

<table class='table' data-sorting="true">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Time Limit</th>
        <th>Participants</th>
        <th>Finished</th>
        <th>Message</th>
      </tr>
      </thead>
      <tr>
        <td>{{ game.game_id }}</td>
        <td>{{ game.name }}</td>
        <td>{{ game.time_limit }}</td>
        <td>{{ logs|groupby('participant')|count }}</td>
        <td>{{ results.count() }}</td>
        <td><a class="btn btn-primary" data-toggle="modal" data-target="#messageModal" id="myModalButton">Message</a></td>
      </tr>
    </table>

    <div class="row">
        <div class="col-xs-1">
            <button id="results-button" type="button" class="btn btn-info collapsed glyphicon glyphicon-list" data-toggle="collapse" data-target="#results"> Results</button>
        </div>
        <div class="col-xs-1  col-xs-offset-1">
            <button id="progress-button" type="button" class="btn btn-info collapsed glyphicon glyphicon-list" data-toggle="collapse" data-target="#progress"> Progress</button>
        </div>
    </div>
    <div id="results" class="collapse">
        {% import 'show_results_macro.html' as res %}
                <div class="results">
                    {{ res.showresults(results, game, "true")}}
                </div>
        <a class="btn btn-primary" href="/game/{{game.game_id}}/results"><span class="glyphicon glyphicon-new-window"> New Window</span></a>
        <a class="btn btn-primary" href="/game/{{game.game_id}}/results/export"><span class="glyphicon glyphicon-cloud-download"> Download</span></a>
    </div>
    <div id="progress" class="collapse">
                {% import 'show_progress_macro.html' as progress %}
                <div class="logs">
                    {{ progress.showprogress(logs, game, None, "true")}}
                </div>
        <a class="btn btn-primary" href="/game/{{game.game_id}}/progress"><span class="glyphicon glyphicon-new-window"> New Window</span></a>
        <a class="btn btn-primary" href="/game/{{game.game_id}}/progress/export"><span class="glyphicon glyphicon-cloud-download"> Download</span></a>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Message</h4>
      </div>
      <div class="modal-body">
      <form method="post" id="messageForm" action="message" name="messageForm">
            <input class="form-control" name="message" type="text" value="{{ game.message }}"/>
        </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary send-button">Send Message</button>
          </div>
      </div>
    </div>
  </div>
</div>

  {% endblock %}
  </body>
</html>