    <form method="post" id="checkpointForm" role="form" data-toggle="validator">
      <div class="row button-section">
          <div class="large-12 columns">
            <input type="submit" class="button small radius save-button" value="Save">
            <a class="button small radius cancel-button">Cancel</a>
            <a class="button small radius edit-button">Edit</a>
            <input type="submit" class="button alert small radius delete-button" value="Delete" name="delete">
          </div>
      </div>
          <div class="row">
            <div class="small-3 columns">
                <input id="deleteInput" name="delete" value="False" type="hidden" readonly/>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <input id="checkpoint_id" name="checkpoint_id" type="hidden" value="{{ checkpoint.checkpoint_id }}" readonly/>
            </div>
        </div>
        <div class="form-group">
       <div class="control-group">
          <div class="row">
            <div class="small-3 columns">
              <label>Checkpoint Number
                <input name="number" class="form-control" type="number" value="{{ checkpoint.number }}" disabled="true" required/>
                <div class="help-block with-errors"></div>
              </label>
            </div>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Start/Finish</label>
          <input name="is_start" id="start" type="checkbox" disabled="true" {%- if checkpoint.is_start -%}checked{% endif %}><label for="start">Start</label>
          <input name="is_finish" id="finish" type="checkbox" disabled="true" {%- if checkpoint.is_finish -%}checked{% endif %}><label for="finish">Finish</label>
        </div>
      </div>
      <div class="row">
        <div class="small-9 columns">
          <label>Question
            <input name="question" type="text" value="{{ checkpoint.question }}" disabled="true"/>
          </label>
        </div>
      </div>

        <div class="row">
        <div class="large-4 columns">
        {% if checkpoint != none %}
            {% set list1 = checkpoint.options.split(';') %}
        {% else %}
            {% set list1 = ';;'.split(';') %}
        {% endif %}
          <label>Options</label>
          <input type="radio" name="options" id="first" disabled="true" value="1" {%- if checkpoint.answer == '1' or checkpoint == None -%}checked{% endif %}><input type="text" name="first_option" value="{{ list1[0] }}" disabled="true"/>
          <input type="radio" name="options" id="second" disabled="true" value="2" {%- if checkpoint.answer == '2' -%}checked{% endif %}><input type="text" name="second_option" value="{{ list1[1] }}" disabled="true"/>
          <input type="radio" name="options" id="third" disabled="true" value="3" {%- if checkpoint.answer == '3' -%}checked{% endif %}><input type="text" name="third_option" value="{{ list1[2] }}" disabled="true"/>
        </div>
      </div>

        <div class="row">
        <div class="small-9 columns">
            <input name="game_id" type="hidden" value="{{ game_id }}" disabled="true"/>
        </div>
      </div>

    </form>