{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    {% block css %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
    {% endblock %}
    {% block js %}
      <script src="https://momentjs.com/downloads/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
      <script type="text/javascript">
            $(document).ready(function() {
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'DD-MM-YY, HH:mm'
                });
            });

            $(document).ready(function() {

                $('.cancel-button').on('click', cancel_onclick);
                $('.edit-button').on('click', edit_onclick);
                $('.delete-button').on('click', delete_onclick);
                $('.clear-button').on('click', clear_onclick);

                $('.save-button, .cancel-button').hide();
                $('.delete-button, .cancel-button').hide();
                $('.clear-button, .cancel-button').hide();

                setFormMode($(this).closest("form"), 'view');
            });

            function edit_onclick(){
                setFormMode($(this).closest("form"), 'edit');
            }

            function cancel_onclick(){
                setFormMode($(this).closest("form"), 'view');

                $(this).closest("form").find("#inputName").prop("value", "{{ game.name }}");
                $(this).closest("form").find("#inputTimeLimit").prop("value", "{{ game.time_limit }}");
            }

            function delete_onclick(){
                document.getElementById("deleteInput").value = 'delete';
                document.getElementById("gameForm").submit();
                setFormMode($(this).closest("form"), 'view');
            }

            function clear_onclick(){
                document.getElementById("deleteInput").value = 'clear';
                document.getElementById("gameForm").submit();
                setFormMode($(this).closest("form"), 'view');
            }

            function setFormMode($form, mode){
                switch(mode){
                    case 'view':
                        $form.find('.save-button, .cancel-button').hide();
                        $form.find('.delete-button, .cancel-button').hide();
                        $form.find('.clear-button, .cancel-button').hide();
                        $form.find('.edit-button').show();
                        $form.find("input, select").prop("disabled", true);
                        break;
                    case 'edit':
                        $form.find('.save-button, .cancel-button').show();
                        $form.find('.delete-button, .cancel-button').show();
                        $form.find('.clear-button, .cancel-button').show();
                        $form.find('.edit-button').hide();
                        $form.find("input, select").prop("disabled", false);
                        break;
                }
            }
        });
    </script>
    {% endblock %}
</head>
<body>
{% block main %}
<div class="container">
      <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">My Events</a></li>
        <li><a href="{{ url_for('run', game_id=game_id) }}">Run Event</a></li>
        <li class="active">Edit Event</li>
      </ol>

    <form method="post" id="gameForm" data-toggle="validator" role="form" class="form-horizontal">


        <input id="deleteInput" name="delete" value="False" type="hidden" readonly/>
        <input id="game_id" name="game_id" type="hidden" value="{{ game.game_id }}" readonly/>
        <input name="user_id" type="hidden" value="{{ g.user.user_id }}" disabled="true" readonly/>

          <div class="row button-section">
              <div class="large-12 columns">
                <input type="submit" class="button small radius save-button btn-primary" value="Save">
                <a class="button small radius cancel-button">Cancel</a>
                <a class="button small radius edit-button">Edit</a>
                <input type="submit" class="button alert small radius delete-button" value="Delete" name="delete">
                <input type="submit" class="button alert small radius clear-button" value="Clear Results" name="clear">
              </div>
          </div>

          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Event Name</label>
            <div class="col-sm-3">
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Your Event Name" value="{{ game.name }}" disabled="true" data-error="Event must have a name" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

          <div class="form-group">
            <label for="inputTimeLimit" class="col-sm-2 control-label">Time Limit</label>
              <div class='input-group date' id='datetimepicker1'>
                <div class="col-sm-8">
                    <input name="time_limit" id="inputTimeLimit" type='text' class="form-control" {%- if game.time_limit -%} value="{{ game.time_limit.strftime('%d-%m-%y, %H:%M') }}"{% endif %} disabled="true" data-error="Event must have a time limit" required/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-sm-2">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Event with Question</label>
            <div class="col-sm-3">
                <input type="checkbox" name="is_questions" disabled="true" {%- if game.is_questions -%}checked{% endif %}>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Free-Order (Score)</label>
            <div class="col-sm-3">
                <input type="checkbox" name="is_freeorder" disabled="true" {%- if game.is_freeorder -%}checked{% endif %}>
            </div>
        </div>


    </form>
</div>
{% endblock %}
</body>
</html>