{% extends "base.html" %}
<html>
<head>
    {% block css %}

<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/footable.standalone.css" rel="stylesheet"/>
    {% endblock %}

{% block js %}
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="/static/js/footable.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
    function buttonFunction() {
               var columnHeadings = $("thead th").map(function() {
                         return $(this).text();
                      }).get();
               columnHeadings.pop();
               var $row = $(this).closest("tr");       // Finds the closest row <tr>
                               console.log($row);
                var $tds = $row.find("td");             // Finds all children <td> elements
                $.each($tds, function() {               // Visits every single <td> element

                    console.log($(this).text());        // Prints out the text within the <td>
                });
                var columnValues = $tds.map(function() {
                 return $(this).text();
               }).get();
          var modalBody = $('<div id="modalContent"></div>');
          var modalForm = $('<form role="form" name="modalForm" action="putYourPHPActionHere.php" method="post"></form>');
          $.each(columnHeadings, function(i, columnHeader) {
               var formGroup = $('<div class="form-group"></div>');
               formGroup.append('<label for="'+columnHeader+'">'+columnHeader+'</label>');
               formGroup.append('<input class="form-control" name="'+columnHeader+i+'" id="'+columnHeader+i+'" value="'+columnValues[i]+'" />');
               modalForm.append(formGroup);
          });
          modalBody.append(modalForm);
          $('.modal-body').html(modalBody);
        };
        $('.modal-footer .btn-primary').click(function() {
           $('form[name="modalForm"]').submit();
        });
        jQuery(function($){
            $('.table').footable();
        });
</script>
{% endblock %}
</head>
<body>
{% block main %}

    <table class='table' data-sorting="true">
        <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Questions</th>
        <th>Score(Free Order)</th>
        <th>Checkpoints</th>
        <th>Time Limit</th>
        <th>Results</th>
        <th>Clear</th>
        <th class="">Edit</th>
      </tr>
      </thead>
      {% for game in games %}
      <tr>
        <td><a href="/game/{{game.game_id}}">{{game.game_id}}</a></td>
        <td><a href="/game/{{game.game_id}}">{{game.name}}</a></td>
        <td align="center">{%- if game.is_questions -%}<span class="glyphicon glyphicon-ok-circle" />{% else %}<span />{% endif %}</td>
        <td align="center">{%- if game.is_freeorder -%}<span class="glyphicon glyphicon-ok-circle" />{% else %}<span />{% endif %}</td>
        <td><a href="/game/{{game.game_id}}/checkpoint/all">{{ game.checkpoints.count() }}</a></td>
        <td>{{ game.time_limit }}</td>
        <td><a href="/game/{{game.game_id}}/results">Results</a></td>
        <td><a align="center" type=button value="Clear" onClick="if(confirm('Clear the game results?'))
                                document.location.href = '/game/{{game.game_id}}/clear';"><span class="glyphicon glyphicon-trash" /></a></td>
          <td style="text-align:center;">
                <button class="btn btn-success myModal" data-toggle="modal" data-target="#myModal" id="myModalButton"
                onClick="buttonFunction()"
                contenteditable="false">Edit</button>
        </td>
      </tr>
      {% endfor %}

    </table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="myModalButton">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>