{% extends "base.html" %}
<html>
  <head>
    {% block css %}
    <link href="/static/css/footable.standalone.css" rel="stylesheet"/>
    {% endblock %}
{% block js %}
    <script src="/static/js/footable.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('.table').footable();
        });
    </script>
    {% endblock %}
  </head>
  <body>
  {% block main %}
    <div class="container">
<table class='table' data-sorting="true">
        <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Questions</th>
        <th>Score(Free Order)</th>
        <th>Checkpoints</th>
        <th>Time Limit</th>
        <th>Edit</th>
      </tr>
      </thead>
      {% for game in games %}
      <tr>
        <td>{{game.game_id}}</td>
        <td><a href="/game/{{game.game_id}}/run">{{game.name}}</a></td>
        <td align="center">{%- if game.is_questions -%}<span class="glyphicon glyphicon-ok-circle" />{% else %}<span />{% endif %}</td>
        <td align="center">{%- if game.is_freeorder -%}<span class="glyphicon glyphicon-ok-circle" />{% else %}<span />{% endif %}</td>
        <td><a href="/game/{{game.game_id}}/checkpoint/all">{{ game.checkpoints.count() }}<span>    </span><span class="glyphicon glyphicon-th-list" /></a></td>
        <td>{{ game.time_limit }}</td>
        <td><a href="/game/{{game.game_id}}" class="btn btn-primary">Edit</a></td>
      </tr>
      {% endfor %}

    </table>
    <a href="/game/new" class="btn btn-success">Add New Event</a>
  {% endblock %}
  </body>
</html>
