{% extends "base.html" %}
<html>
  <head>
    {% if title %}
    <title>{{ title }} - NivutQR</title>
    {% else %}
    <title>Welcome to NivutQR</title>
    {% endif %}
{% block css %}
    <link href="/static/css/footable.standalone.css" rel="stylesheet"/>
{% endblock %}
{% block js %}
    <script src="/static/js/footable.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('.table').footable();
        });
    </script>
{% endblock %}
  </head>
  <body>
    {% block main %}
    <div class="container">
         <ol class="breadcrumb">
            <li><a href="{{ url_for('home') }}">My Events</a></li>
            <li><a href="{{ url_for('run', game_id=game.game_id) }}">Run Event</a></li>
                {% if participant %}
                    <li><a href="{{ url_for('game_progress', game_id=game.game_id) }}">Event Progress</a></li>
                    <li class="active">{{ participant }}</li>
                {% else %}
                    <li class="active">Event Progress</li>
                {% endif %}
      </ol>

      <a class="btn btn-primary" href="/game/{{game.game_id}}/progress/export"><span class="glyphicon glyphicon-cloud-download"> Download</span></a>

        {% import 'show_progress_macro.html' as progress %}
        <div class="logs">
            {{ progress.showprogress(logs, game, participant, "false")}}
        </div>
    </div>
    {% endblock %}
  </body>
</html>