{% extends "base.html" %}
<html>
  <head>
    {% if title %}
    <title>{{ title }} - NivutQR</title>
    {% else %}
    <title>Welcome to NivutQR</title>
    {% endif %}
{% block css %}
    <link href="/static/css/footable.standalone.css" rel="stylesheet"/>
{% endblock %}
{% block js %}
    <script src="/static/js/footable.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('.table').footable();
        });
    </script>
{% endblock %}
  </head>
  <body>
    {% block main %}
    {% import 'show_progress_macro.html' as progress %}
    <div class="logs">
        {{ progress.showprogress(logs, game, "false")}}
    </div>
    {% endblock %}
  </body>
</html>