{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    {% block css %}
        <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
    {% endblock %}
    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
      <script type="text/javascript">
          $(document).ready(function() {
            $(document).ready(function() {

                $('.cancel-button').on('click', cancel_onclick);
                $('.edit-button').on('click', edit_onclick);

                $('.save-button, .cancel-button').hide();

                setFormMode($(this).closest("form"), 'view');
            });

            function edit_onclick(){
                setFormMode($(this).closest("form"), 'edit');
            }

            function cancel_onclick(){
                setFormMode($(this).closest("form"), 'view');

                $(this).closest("form").find("#inputPhone").prop("value", "{{ user.phone }}");
                $(this).closest("form").find("#inputFirst").prop("value", "{{ user.first_name }}");
                $(this).closest("form").find("#inputLast").prop("value", "{{ user.last_name }}");
                $(this).closest("form").find("#inputPassword").prop("value", "{{ user.password }}");
            }

            function setFormMode($form, mode){
                switch(mode){
                    case 'view':
                        $form.find('.save-button, .cancel-button').hide();
                        $form.find('.edit-button').show();
                        $form.find("input, select").prop("disabled", true);
                        break;
                    case 'edit':
                        $form.find('.save-button, .cancel-button').show();
                        $form.find('.edit-button').hide();
                        $form.find("input, select").prop("disabled", false);
                        break;
                }
            }
        });
    </script>
    {% endblock %}
</head>
<body>
{% block main %}
<div class="container">
       <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">My Events</a></li>
        <li class="active">Edit User</li>
      </ol>

      <form method="post" id="userForm" data-toggle="validator" role="form" class="form-horizontal">
        <input id="user_id" name="user_id" type="hidden" value="{{ user.user_id }}" readonly/>

          <div class="row button-section">
              <div class="large-12 columns">
                <input type="submit" class="button small radius save-button btn-primary" value="Save">
                <a class="button small radius cancel-button">Cancel</a>
                <a class="button small radius edit-button">Edit</a>
              </div>
          </div>

          <div class="form-group">
            <label for="login" class="col-sm-2 control-label">Login Name</label>
            <div class="col-sm-3">
                <p class="form-control-static" id="login">{{ user.login }}</p>
            </div>
        </div>

          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-3">
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Your Password" value="{{ user.password }}" disabled="true" data-error="You must have a password" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

          <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-3">
                <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="Your Phone Number" value="{{ user.phone }}" disabled="true" data-error="You must have a phone number" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

          <div class="form-group">
            <label for="inputFirst" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-3">
                <input name="first_name" type="text" class="form-control" id="inputFirst" placeholder="Your First Name" value="{{ user.first_name }}" disabled="true" data-error="You must have a first name" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

          <div class="form-group">
            <label for="inputLast" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-3">
                <input name="last_name" type="text" class="form-control" id="inputLast" placeholder="Your Last Name" value="{{ user.last_name }}" disabled="true" data-error="You must have a last name" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>