# ----------------------
# Flask
# ----------------------
flask
flask_sqlalchemy
flask-login
psycopg2
datetime
flask_wtf
wtforms
openpyxl
pandas

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
